
name: Prod Deployment
on:
  push:
    branches:
      - master
jobs:
  deploy-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v1
      with:
        node-version: '10.x'
    - name: Install Serverless Framework
      run: npm install -g serverless
    - name: Install NPM Dependencies
      run: npm install  
    - name: Serverless AWS Authentication
      run: sls config credentials --provider aws --key ${{ secrets.AWS_KEY }} --secret ${{ secrets.AWS_SECRET }}
    - name: Deploy to AWS using Serverless
      run: sls deploy
